# Build output
/build/
/out/
/target/

# IDE files
.idea/
/.vscode/
/*.iml

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Gradle local cache
.gradle/

# Environment specific configs
application-*.properties
application-*.yml
.env
